autom4te.cache
aclocal.m4
version_date.h
.DS_Store
*.framework
*.xcworkspace
xcuserdata
build
*.o
*.lo
*.a
*.exe
*.pdb
*.prg
*.app
*.tos
*.ttp
*.ldg
*.slb
*.pcf
*.ref
*.hyp
*.stg
*.lst
*.srec
*.log
*.trs
*.gmo
*.mo
*.map
lt-*.c
stamp-*
.stamp.*
.libs
.deps
.dirstamp
.xlk
src/.gdbinit
mon.out
gmon.out
a.out
core
*.gcda
*.gcno
*.gcov
*.orig
*.bak
bla.*
aaa.cfg
*.uls
*.cnt
*.rtf
src/imgview
*.zip
/Makefile
zlib.pc
zconf.h
example
example64
minigzip
minigzip64
examplesh
minigzipsh
libz.so*
zlib_vernum.h
zlib_imp_[0-9]*.c
foo.gz

m4/amversion.m4
m4/auxdir.m4
m4/cond.m4
m4/depend.m4
m4/depout.m4
m4/init.m4
m4/install-sh.m4
m4/lead-dot.m4
m4/maintainer.m4
m4/make.m4
m4/missing.m4
m4/options.m4
m4/sanity.m4
m4/silent.m4
m4/strip.m4
m4/substnot.m4
m4/tar.m4
m4/prog-cc-c-o.m4
m4/runlog.m4
m4/cond-if.m4
m4/mkdirp.m4
config.h
config.h.in
config.h.in.orig
config.log
config.status
configure
config.guess
config.sub
config.rpath
depcomp
install-sh
missing
test-driver
compile
intltool-extract
intltool-merge
intltool-update
